/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject

/.idea
.env
docker-compose.yml

/.docker/elasticsearch/data/*
!/.docker/elasticsearch/data/.gitkeep
/.docker/elasticsearch/logs/*
!/.docker/elasticsearch/logs/.gitkeep
/.docker/php81-fpm/logs/*
!/.docker/php81-fpm/logs/.gitkeep
/.docker/mysql/logs/*
!/.docker/mysql/logs/.gitkeep
/.docker/logstash/logs/*
!/.docker/logstash/logs/.gitkeep
/.docker/nginx/logs/*
!/.docker/nginx/logs/.gitkeep
/.docker/filebeat/logs/*
!/.docker/filebeat/logs/.gitkeep

/.docker/*.flag
